.dashboard,
.navContentParent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.navContentParent {
  align-self: stretch;
  gap: 25.7px;
  max-width: 100%;
}
.dashboard {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #fff, #4353ff);
  overflow: hidden;
  padding: var(--padding-13xl) var(--padding-13xl) 95px 22px;
  box-sizing: border-box;
  gap: var(--gap-33xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .dashboard {
    gap: var(--gap-7xl);
  }
}
