.dashboardChild {
  position: absolute;
  top: 16.875rem;
  left: 2.188rem;
  border-radius: 12px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 15.938rem;
  height: 4.375rem;
}
.dashboardInner,
.dashboardItem {
  position: absolute;
  left: 21.75rem;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  width: 43.375rem;
}
.dashboardItem {
  top: 15.75rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 20.438rem;
  mix-blend-mode: color-dodge;
}
.dashboardInner {
  top: 64.875rem;
  height: 20.063rem;
}
.announcement,
.rectangleDiv {
  position: absolute;
  top: 67.375rem;
  left: 24.125rem;
}
.rectangleDiv {
  top: 38.688rem;
  left: 67.5rem;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  width: 20.5rem;
  height: 46.25rem;
}
.am,
.sundayMay5 {
  position: absolute;
  top: 2.813rem;
  left: 72.063rem;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-darkslategray-100);
}
.am {
  left: 65.625rem;
}
.dashboardChild1,
.dashboardChild2 {
  position: absolute;
  top: 2rem;
  height: 3.125rem;
}
.dashboardChild1 {
  left: 21.75rem;
  border-radius: var(--br-11xl);
  background-color: #f3f3f3;
  width: 40.625rem;
}
.dashboardChild2 {
  left: 84.188rem;
  border-radius: 40px;
  background-color: var(--color-white);
  width: 3.188rem;
}
.d,
.searchForAction {
  position: absolute;
  font-family: var(--font-poppins);
}
.d {
  top: 2.438rem;
  left: 85.25rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--label-colors-lc-l-primary);
}
.searchForAction {
  top: 2.813rem;
  left: 22.688rem;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: #9a9a9a;
}
.icon {
  position: absolute;
  top: 2rem;
  left: 2.188rem;
  width: 3.125rem;
  height: 3.125rem;
  overflow: hidden;
}
.welcomeBackDaniel {
  position: absolute;
  top: 9.125rem;
  left: 21.438rem;
  font-size: 3.125rem;
  font-weight: 600;
  color: var(--color-darkslategray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35.438rem;
}
.myTask {
  position: absolute;
  top: 40.688rem;
  left: 68.75rem;
}
.prepareAssessmentQuestion {
  position: absolute;
  top: 45.125rem;
  left: 68.563rem;
  font-size: var(--font-size-base);
}
.setAssessmentQuestion {
  top: 46.688rem;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-gray-100);
  text-align: left;
}
.setAssessmentQuestion,
.tuesday,
.vectorIcon {
  position: absolute;
  left: 68.75rem;
}
.tuesday {
  top: 47.813rem;
  font-size: var(--font-size-3xs);
  font-weight: 500;
  color: var(--color-gray-100);
  text-align: left;
}
.vectorIcon {
  top: 49.25rem;
  width: 17.25rem;
  height: 0.125rem;
  object-fit: contain;
}
.dashboardChild3 {
  position: absolute;
  top: 70.25rem;
  left: 24.25rem;
  max-height: 100%;
  width: 38.313rem;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 4.688rem;
  height: 1.25rem;
}
.iconsadd24px {
  position: absolute;
  top: 0.25rem;
  left: 0.375rem;
  width: 0.75rem;
  height: 0.75rem;
}
.addTask,
.rectangleParent {
  position: absolute;
  top: 0.25rem;
  left: 1.125rem;
}
.rectangleParent {
  top: 40.688rem;
  left: 81.938rem;
  width: 4.688rem;
  height: 1.25rem;
  font-size: var(--font-size-3xs);
  color: var(--color-darkslategray-100);
}
.iconsmore24px {
  position: absolute;
  height: 1.06%;
  width: 1.04%;
  top: 51.67%;
  right: 3.33%;
  bottom: 47.27%;
  left: 95.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  width: 20.5rem;
  height: 20.625rem;
}
.month {
  position: absolute;
  top: 1.313rem;
  left: 1.75rem;
  font-size: var(--font-size-mini);
  letter-spacing: 0.38px;
  line-height: 1.5rem;
  text-align: left;
}
.mon,
.wed {
  top: 3.25rem;
  font-size: var(--font-size-xs);
  line-height: 1rem;
  color: var(--label-colors-lc-l-secondary);
  height: 2rem;
}
.mon {
  position: absolute;
  left: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.688rem;
}
.wed {
  left: 6.938rem;
  width: 1.75rem;
}
.thu,
.tue,
.wed {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tue {
  top: 3.25rem;
  left: 4.5rem;
  font-size: var(--font-size-xs);
  line-height: 1rem;
  color: var(--label-colors-lc-l-secondary);
  width: 1.438rem;
  height: 2rem;
}
.thu {
  left: 9.563rem;
  width: 1.813rem;
}
.fri,
.sat,
.thu {
  top: 3.25rem;
  font-size: var(--font-size-xs);
  line-height: 1rem;
  color: var(--label-colors-lc-l-secondary);
  height: 2rem;
}
.fri {
  position: absolute;
  left: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.875rem;
}
.sat {
  left: 15rem;
  width: 1.313rem;
}
.div,
.sat,
.sun {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sun {
  top: 3.25rem;
  left: 17.625rem;
  font-size: var(--font-size-xs);
  line-height: 1rem;
  color: var(--label-colors-lc-l-secondary);
  width: 1.5rem;
  height: 2rem;
}
.div {
  top: 5.688rem;
  left: 1.25rem;
  letter-spacing: -0.32px;
  line-height: 1.313rem;
  height: 2.375rem;
}
.div,
.div1,
.div2 {
  color: var(--ui-color-ui-gray);
  width: 2.625rem;
}
.div1 {
  position: absolute;
  top: 5.688rem;
  left: 3.875rem;
  letter-spacing: -0.32px;
  line-height: 1.313rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.375rem;
}
.div2 {
  left: 6.5rem;
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div2,
.div20,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
  position: absolute;
  top: 5.688rem;
  letter-spacing: -0.32px;
  line-height: 1.313rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.375rem;
}
.div3 {
  left: 9.125rem;
  color: var(--ui-color-ui-gray);
  width: 2.688rem;
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div20,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
  left: 11.813rem;
  width: 2.625rem;
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div20,
.div5,
.div6,
.div7,
.div8,
.div9 {
  left: 14.438rem;
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div20,
.div6,
.div7,
.div8,
.div9 {
  left: 17.063rem;
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div20,
.div7,
.div8,
.div9 {
  top: 8.063rem;
  left: 1.25rem;
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div20,
.div8,
.div9 {
  left: 3.875rem;
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div20,
.div9 {
  left: 6.5rem;
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div20 {
  left: 9.125rem;
  width: 2.688rem;
}
.div11,
.div12,
.div13,
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div20 {
  left: 11.813rem;
  width: 2.625rem;
}
.div12,
.div13,
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div20 {
  left: 14.438rem;
}
.div13,
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div20 {
  left: 17.063rem;
}
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div20 {
  top: 10.438rem;
  left: 1.25rem;
  height: 2.313rem;
}
.div15,
.div16,
.div17,
.div18,
.div19,
.div20 {
  left: 3.875rem;
}
.div16,
.div17,
.div18,
.div19,
.div20 {
  left: 6.5rem;
}
.div17,
.div18,
.div19,
.div20 {
  left: 9.125rem;
  width: 2.688rem;
}
.div18,
.div19,
.div20 {
  left: 11.813rem;
  width: 2.625rem;
}
.div19,
.div20 {
  left: 14.438rem;
}
.div20 {
  left: 17.063rem;
}
.div21,
.div22,
.div23,
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  position: absolute;
  top: 12.75rem;
  left: 1.25rem;
  letter-spacing: -0.32px;
  line-height: 1.313rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.625rem;
  height: 2.375rem;
}
.div22,
.div23,
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  left: 3.875rem;
}
.div23,
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  left: 6.5rem;
}
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  left: 9.125rem;
  width: 2.688rem;
}
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  left: 11.813rem;
  width: 2.625rem;
}
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  left: 14.438rem;
}
.div27,
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  left: 17.063rem;
}
.div28,
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  top: 15.125rem;
  left: 1.25rem;
}
.div29,
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  left: 3.875rem;
}
.div30,
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  left: 6.5rem;
}
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  left: 9.125rem;
  width: 2.688rem;
}
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  left: 11.813rem;
  width: 2.625rem;
}
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  left: 14.438rem;
}
.div34,
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  left: 17.063rem;
}
.div35,
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  top: 17.5rem;
  left: 1.25rem;
  color: var(--ui-color-ui-gray);
}
.div36,
.div37,
.div38,
.div39,
.div40,
.div41 {
  left: 3.875rem;
}
.div37,
.div38,
.div39,
.div40,
.div41 {
  left: 6.5rem;
}
.div38,
.div39,
.div40,
.div41 {
  left: 9.125rem;
  width: 2.688rem;
}
.div39,
.div40,
.div41 {
  left: 11.813rem;
  width: 2.625rem;
}
.div40,
.div41 {
  left: 14.438rem;
}
.div41 {
  left: 17.063rem;
}
.rectangleGroup {
  position: absolute;
  top: 15.563rem;
  left: 67.5rem;
  width: 20.5rem;
  height: 20.625rem;
  font-size: var(--font-size-smi);
  color: var(--label-colors-lc-l-primary);
  font-family: var(--font-poppins);
}
.dashboardChild4,
.dashboardChild5 {
  position: absolute;
  top: 71.563rem;
  left: 23.75rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-ghostwhite);
  width: 16.875rem;
  height: 10.313rem;
}
.dashboardChild5 {
  top: 71.75rem;
  left: 45.625rem;
}
.dashboardChild6,
.ellipseDiv {
  position: absolute;
  top: 72.25rem;
  left: 24.813rem;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  width: 2.5rem;
  height: 2.5rem;
}
.dashboardChild6 {
  top: 72.938rem;
  left: 46.688rem;
}
.justWantedTo {
  top: 76rem;
  left: 24.813rem;
  font-weight: 500;
  color: var(--color-dimgray-100);
  white-space: pre-wrap;
  text-align: left;
  display: flex;
  align-items: center;
  width: 15.438rem;
}
.justWantedTo,
.justWantedTo1,
.mrBantider,
.mrMehatebe {
  position: absolute;
  font-size: var(--font-size-xs);
}
.justWantedTo1 {
  top: 76.188rem;
  left: 46.688rem;
  font-weight: 500;
  color: var(--color-dimgray-100);
  white-space: pre-wrap;
  text-align: left;
  display: flex;
  align-items: center;
  width: 15.438rem;
}
.mrBantider,
.mrMehatebe {
  top: 73.063rem;
  left: 28.25rem;
  color: var(--label-colors-lc-l-primary);
}
.mrMehatebe {
  top: 73.25rem;
  left: 49.875rem;
}
.groupChild1,
.groupInner {
  position: absolute;
  top: 0;
  left: 0;
}
.groupInner {
  border-radius: 8px;
  background-color: var(--color-white);
  width: 43.375rem;
  height: 23.813rem;
}
.groupChild1 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-ghostwhite);
  width: 17.425rem;
  height: 9rem;
}
.div42,
.gpa {
  position: absolute;
  top: 3.85rem;
  left: 2.088rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.269rem;
  height: 1.306rem;
}
.div42 {
  top: 2.538rem;
  left: 7.075rem;
  font-size: var(--font-size-17xl);
  width: 6.713rem;
  height: 3.919rem;
}
.groupChild2 {
  position: absolute;
  top: 0.581rem;
  left: 0.638rem;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 1.313rem;
  height: 1.313rem;
}
.div43,
.groupDiv,
.standing {
  position: absolute;
  top: 12.875rem;
  left: 2.375rem;
  width: 17.425rem;
  height: 9rem;
}
.div43,
.standing {
  top: 3.85rem;
  left: 1.363rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.994rem;
  height: 1.306rem;
}
.div43 {
  top: 2.538rem;
  left: 8.713rem;
  font-size: var(--font-size-17xl);
  width: 7.075rem;
  height: 3.919rem;
}
.rectangleParent1 {
  position: absolute;
  top: 12.875rem;
  left: 23.125rem;
  width: 17.425rem;
  height: 9rem;
}
.groupChild5,
.groupChild6 {
  position: absolute;
  top: 8.75rem;
  left: 2.125rem;
  border-radius: var(--br-11xl);
  background-color: #f4f4f4;
  width: 38.438rem;
  height: 2.375rem;
}
.groupChild6 {
  border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  background-color: #c8d5ff;
  width: 22.5rem;
}
.academicProgress {
  position: absolute;
  top: 2.313rem;
  left: 2.375rem;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
}
.groupChild7 {
  position: absolute;
  top: 5.563rem;
  left: 2.5rem;
  max-height: 100%;
  width: 38.313rem;
}
.termProgressweeks {
  position: absolute;
  top: 7rem;
  left: 2.5rem;
  font-weight: 500;
  color: var(--color-dimgray-100);
}
.rectangleContainer {
  position: absolute;
  top: 38.688rem;
  left: 21.75rem;
  width: 43.375rem;
  height: 23.813rem;
  font-size: var(--font-size-xs);
  color: var(--label-colors-lc-l-primary);
}
.groupChild8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 3.563rem;
  height: 0.75rem;
}
.tomorrow {
  position: absolute;
  top: 0.063rem;
  left: 0.5rem;
  font-weight: 300;
}
.rectangleParent2,
.rectangleParent3 {
  position: absolute;
  top: 74.375rem;
  left: 28.438rem;
  width: 3.563rem;
  height: 0.75rem;
  font-size: var(--font-size-5xs);
  color: var(--label-colors-lc-l-primary);
}
.rectangleParent3 {
  top: 74.5rem;
  left: 50.125rem;
}
.iconsnavigateBefore,
.iconsnavigateNext {
  position: absolute;
  top: 67.375rem;
  left: 56.875rem;
  width: 1.875rem;
  height: 1.875rem;
  overflow: hidden;
}
.iconsnavigateNext {
  left: 60.313rem;
}
.dashboard1 {
  position: absolute;
  top: 18.375rem;
  left: 6.188rem;
}
.operex,
.resources {
  position: absolute;
  top: 25.688rem;
  left: 6.563rem;
}
.operex {
  top: 2.375rem;
  left: 5.813rem;
  font-size: 1.875rem;
}
.calendar,
.reports,
.setting,
.timer {
  position: absolute;
  top: 32.688rem;
  left: 6.688rem;
}
.reports,
.setting,
.timer {
  top: 39.625rem;
}
.setting,
.timer {
  top: 46rem;
}
.setting {
  top: 52.938rem;
}
.logoutIcon {
  width: 1.563rem;
  height: 1.563rem;
  overflow: hidden;
  flex-shrink: 0;
}
.logout,
.logoutIcon {
  position: relative;
}
.logoutParent {
  position: absolute;
  top: 82.063rem;
  left: 6.563rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.487rem;
  font-size: var(--font-size-mini);
  color: #0a0909;
  font-family: var(--font-poppins);
}
.dashboard {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #fff, #4353ff);
  height: 90.875rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
  font-family: var(--font-be-vietnam-pro);
}
